<div class="requests-table on-page in-tab">
  <mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> №п. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Наименование </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Количество </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Цена </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="action-column"></mat-header-cell>
      <mat-cell *matCellDef="let element; let index=index" class="action-column">
        <button mat-icon-button (click)="openConfirmDialog(index)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!--
        length - Длина общего количества элементов, которые разбиваются на страницы.
        pageSize - Количество элементов для отображения на странице.
        pageSizeOptions - Набор предоставленных параметров размера страницы для отображения пользователю.
        showFirstLastButtons - Показывать ли пользователю интерфейс первой/последней кнопки.
        (page) - Событие, возникающее, когда пагинатор изменяет размер страницы или индекс страницы.
    -->
    <mat-paginator [length]="params?.paginationOption?.length"
                   [pageSize]="params?paginationOption?.limit"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true" (page)="paginatorClicked()">
    </mat-paginator>
    <!--<mat-paginator [length]="5"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="firstLastButton"
                   (page)="onChangePage($event)">
    </mat-paginator>-->
  </mat-table>
</div>

