 <div>
   <mat-toolbar class="title" color="primary">
     <span class="material-icons">
        shopping_basket
     </span>
     <span>
       Shop
     </span>
   </mat-toolbar>
   <mat-tab-group mat-align-tabs="center">
     <mat-tab label="Овощи">
       <table mat-table [dataSource]="vegSource">
         <!-- Position Column -->
         <ng-container matColumnDef="position">
           <th mat-header-cell *matHeaderCellDef> №п. </th>
           <td mat-cell *matCellDef="let element"> {{element.position}} </td>
         </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef> Наименование </th>
           <td mat-cell *matCellDef="let element"> {{element.name}} </td>
         </ng-container>

         <!-- Weight Column -->
         <ng-container matColumnDef="quantity">
           <th mat-header-cell *matHeaderCellDef> Количество, кг. </th>
           <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
         </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="price">
           <th mat-header-cell *matHeaderCellDef> Цена </th>
           <td mat-cell *matCellDef="let element"> {{element.price}} </td>
         </ng-container>

         <!-- Action Column -->
         <ng-container matColumnDef="action">
           <th mat-header-cell *matHeaderCellDef></th>
           <td mat-cell *matCellDef="let element"></td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
     </mat-tab>
     <mat-tab label="Фрукты">
       <table mat-table [dataSource]="frutSource">
         <!-- Position Column -->
         <ng-container matColumnDef="position">
           <th mat-header-cell *matHeaderCellDef> №п. </th>
           <td mat-cell *matCellDef="let element"> {{element.position}} </td>
         </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef> Наименование </th>
           <td mat-cell *matCellDef="let element"> {{element.name}} </td>
         </ng-container>

         <!-- Weight Column -->
         <ng-container matColumnDef="quantity">
           <th mat-header-cell *matHeaderCellDef> Количество, кг. </th>
           <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
         </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="price">
           <th mat-header-cell *matHeaderCellDef> Цена </th>
           <td mat-cell *matCellDef="let element"> {{element.price}} </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
     </mat-tab>
     <mat-tab label="Молоко">
       <table mat-table [dataSource]="milkSource">
         <!-- Position Column -->
         <ng-container matColumnDef="position">
           <th mat-header-cell *matHeaderCellDef> №п. </th>
           <td mat-cell *matCellDef="let element"> {{element.position}} </td>
         </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef> Наименование </th>
           <td mat-cell *matCellDef="let element"> {{element.name}} </td>
         </ng-container>

         <!-- Quantity Column -->
         <ng-container matColumnDef="quantity">
           <th mat-header-cell *matHeaderCellDef> Количество </th>
           <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
         </ng-container>

         <!--  Price Column -->
         <ng-container matColumnDef="price">
           <th mat-header-cell *matHeaderCellDef> Цена </th>
           <td mat-cell *matCellDef="let element"> {{element.price}} </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
     </mat-tab>
   </mat-tab-group>
 </div>
