 <div>
   <mat-toolbar class="title" color="primary">
     <span class="material-icons">
        shopping_basket
     </span>
     <span>
       Shop
     </span>
   </mat-toolbar>
   <button mat-raised-button color="accent"
           class="add-button"
           (click)="showStatus=!showStatus"
           *ngIf="!showStatus">Добавить продукт</button>
   <app-add-food-form *ngIf="showStatus" (onAdd)="updateFoods($event)"></app-add-food-form>
   <mat-tab-group mat-align-tabs="center" *ngIf="!showStatus" [(selectedIndex)]="selectedIndex">
     <mat-tab label="Овощи">
      <food-table [dataSource]="vegSource"></food-table>
     </mat-tab>
     <mat-tab label="Фрукты">
       <food-table [dataSource]="frutSource"></food-table>
     </mat-tab>
     <mat-tab label="Молоко">
       <food-table [dataSource]="milkSource"></food-table>
     </mat-tab>
   </mat-tab-group>
 </div>
